<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-secondary" routerLink="/nuevaskill"  *ngIf="isLogged">Agregar HyS</button>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="90"
        [imageSrc]="''"
        [showImage]="false"
        [imageHeight]=""
        [imageWidth]=""
        [title]="(skill.nombre)"
        [showSubtitle]="false"
        [titleColor]="('bold')"
        [titleFontSize]="'30px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>

    <div>
      <td *ngIf="isLogged">
        <button class="btn btn-success" routerLink="/editskill/{{skill.id}}">
          <i class="bi bi-pencil-square"></i>EDITAR</button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(skill.id)">
          <i class="bi bi-trash3"></i>BORRAR</button>
      </td>
    </div>

  </div>

</div>
