<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="25"
        [radius]="90"
        [title]="'Comunicación'"
        [showSubtitle]="false"
        [titleColor]="'bold'"
        [titleFontSize]="'20px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="25"
        [radius]="90"
        [title]="'Comunicación'"
        [showSubtitle]="false"
        [titleColor]="'bold'"
        [titleFontSize]="'20px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="25"
        [radius]="90"
        [title]="'Comunicación'"
        [showSubtitle]="false"
        [titleColor]="'bold'"
        [titleFontSize]="'20px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="25"
        [radius]="90"
        [title]="'Comunicación'"
        [showSubtitle]="false"
        [titleColor]="'bold'"
        [titleFontSize]="'20px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="25"
        [radius]="90"
        [title]="'Comunicación'"
        [showSubtitle]="false"
        [titleColor]="'bold'"
        [titleFontSize]="'20px'"
        [showUnits]="false"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#c194d3'"
        [innerStrokeColor]="'#c194d3'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
  </div>
</div>
